<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="style.css" rel="stylesheet" type="text/css" media="all">
    <title>Script Wizard</title>
</head>
<body>
    <h1>Script Wizard</h1>
    <article>
        <div class="side">
            <p><button name="button"><a href="http://192.168.10.206:8080/get_ip">get_ip</a></button></p>
            <p><button name="button"><a href="http://192.168.10.206:8080/get_ip">get_ip2</a></button></p>
            <p><button name="button"><a href="http://192.168.10.206:8080/get_ip">get_ip3</a></button></p>
        </div> 
        <div class="content">
          <p>メインコンテンツ</p>
          <p>こんにちは。APIサーバの操作画面です。</p>
        </div>
      </article>
</body>
</html>

